body {
	background-color: #339999;
}

#menu {
	width: 100%;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.topnav li {
	float: right;
}

ul.topnav li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 2s;
	font-size: 17px;
}

#button {
	background-color: white;
	color: #339999;
	padding: 30px;
	border: none;
	border-radius: 100%;
	font-size: 30px;
	font-family: roboto-bold;
	font-weight: bold;
}

#login {
	background-size: 70%;
	text-align: center;
	max-width: 392px;
	width: 100%;
	margin: auto;
}

#rocket {
	width: 250px;
	height: 250px;
}

.whiteText {
	color: white;
}

#cname {
	display: inline;
}