
#manage {
	background-color: white;
	padding-top: 0px;
	padding-bottom: 24px;
	margin-left: 15%;
	margin-right: 15%;
	color: #212121;
	align: center;
}

ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #267272;
}

ul.tab li {
	float: left;
}

ul.tab li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 2s;
	font-size: 17px;
}

ul.tab li a:hover {
	background-color: #339999;
}

ul.tab li a:focus, .active {
	background-color: #339999;
}

.tabcont {
	display: none;
	padding: 6px 12px;
}